@import url('./vendor/normalize.css');
@import url('./vendor/fonts/inter/inter.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Inter", "Arial", sans-serif;
    color: #0F1419;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

.mb_15 {
    margin-bottom: 15px;
}